<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Playlist</label>
      {{input class="invisible float-right" value=selectedPlaylist required="required"}}
      {{#power-select
        required="required"
        options=playlists
        searchField="name"
        renderInPlace=true
        placeholder=(t "playlist-setting.playlist-placeholder")
        selected=selectedPlaylist
        onchange=(action (mut selectedPlaylist))
        as |pl|
      }}
        {{pl.name}}
      {{/power-select}}
    </div>
  </div>
  <div class="col-md-5">
    <div class="form-group">
      <label>Ratio</label>
      {{input class="form-control" value=ratio placeholder=(t "playlist-setting.ratio-placeholder") required="required" min="1" max="5" aria-describedby="ratioHelp"}}
      <small id="ratioHelp" class="form-text text-muted">{{t "playlist-setting.ratio-help"}}</small>
    </div>
  </div>
  <div class="col-md-1">
    {{#if showRemove}}
    <div class="form-group">
      <label class="d-block">&nbsp;</label>
      <button {{action "remove"}} type="button" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
  </div>
</div>
