<div class="row">
  <div class="col-md-1 col-sm-12 push-md-11">
    {{#if showRemove}}
    <div class="form-group">
      <label class="d-block">&nbsp;</label>
      <button {{action "remove"}} type="button" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
  </div>
  <div class="col-md-5 pull-md-1">
    <div class="form-group">
      <label>{{t "playlist-setting.playlist"}}</label>
      {{input class="hidden-xs-up invisible float-right" value=selectedPlaylist required="required"}}
      {{#power-select
        required="required"
        options=playlists
        searchField="name"
        renderInPlace=true
        placeholder=(t "playlist-setting.playlist-placeholder")
        selected=selectedPlaylist
        onchange=(action (mut selectedPlaylist))
        as |pl|
      }}
        {{pl.name}}
      {{/power-select}}
    </div>
  </div>
  <div class="col-md-3 pull-md-1">
    <div class="form-group">
      <label>{{t "playlist-setting.ratio"}}</label>
      {{input class="form-control" value=ratio placeholder=(t "playlist-setting.ratio-placeholder") required="required" min="1" max="5" aria-describedby="ratioHelp"}}
      <small id="ratioHelp" class="form-text text-muted">{{t "playlist-setting.ratio-help"}}</small>
    </div>
  </div>
  <div class="col-md-3 pull-md-1">
    <div class="form-group">
      <label>{{t "playlist-setting.continuous"}}</label>
      {{input class="form-control" value=continuous placeholder=(t "playlist-setting.continuous-placeholder") required="required" min="1" max="5" aria-describedby="continuousHelp"}}
      <small id="continuousHelp" class="form-text text-muted">{{t "playlist-setting.continuous-help"}}</small>
    </div>
  </div>
</div>
