{{title "Playlists mixer - Haboob Labs"}}

{{partial 'layout/main-menu'}}

<div class="row">
  <div class="col-md-12 text-center">
    <h2 class="display-5">{{t "index.title"}}</h2>
    <p class="lead">{{t "index.subtitle"}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <button {{action "authenticate"}} class="btn btn-outline-primary btn-lg text-uppercase">
      {{t "index.get-started"}}
    </button>
  </div>
</div>
